<% if current_user %>
  Welcome, <%= current_user.name %>!<br>
  <%= link_to "Sign Out", log_out_path %>
<% else %>   
  <%= link_to "Sign In", log_in_path %>
  <%= link_to "Sign Up", users_path %>
<% end %>  

<%= form_for @book do |f| %>
  Title: <%= f.text_field :title %>
  Description: <%= f.text_field :description %>
  <%= f.submit("Add Book") %>
<% end %>

<% @books.each do |book| %>
  <a href="/books/<%= book.id %>"><%= book.title %></a><br>
  <%= book.description %><br>
<% end %>
<h3>Search For Books</h3>
<div class="search-div">
  <input type="text" placeholder="Search Books" id="searchBox" name="searchBox">
  <input type="submit" value="Search" class="searchButton">
</div>

<div class="main">
</div>

<script id="book-template" type="text/x-handlebars-template">
  <div class="entry">

    <table>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Image</th>
        <th>Add</th>
      </tr>
      {{#each this.books}}
        <tr>
          <td class="title"><a href="/books/{{id}}">{{title}}</a></td>
          <td class="author">{{authors}}</td>
          <td class="imgs"><img src={{img}} ></td>
          <td><input type="button" value="Add to Favorites" class="favorite"></td>
        </tr>
      {{/each}}
    </table></a>
  </div>
</script>