<div class="space-8 container book-show">
  <div class="col-md-12">
    <h2><%= @book.title %></h2>
  </div>  

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <% if current_user %>
        <a href="/books/<%= @book.id %>/edit"><%= @book.title %></a>

        <%= link_to 'edit', edit_book_path(@book) %>

        <%= link_to "delete",[@book], method: :delete %>

        <%= form_tag("/books/#{@book.id}/messages", method:"post") do %>
          <%= text_field_tag :message_title, :title, value: "", placeholder:"Review Title", class:'form-control' %>
          <%= text_area :message, :review, placeholder:"Enter Review...",class:'form-control' %>
          <%= hidden_field :message_book_id, @book.book_id %> 
          <%= hidden_field :message_user_id, @book.user_id %>

          <%= submit_tag("Create Review",class:"form-control btn-primary") %>
        <% end %><br>  
      <% else %>
      <% end %> 
    </div> 
    <div class="col-md-3">
    </div> 
</div>

<div class="row">    
  <div class="col-md-3">
  </div>  
  <div class="col-md-6 min-height-5">  
    <h2>Reviews</h2>
    <% if @book.try(:messages) %>
      <% @book.messages.each do |message| %>
        <div class="col-md-12 border-grey">
          User: <a href="/books/<%= @book.id %>/messages/<%= message.id %>"><%= message.name %></a><br>
          Title: <a href="/books/<%= @book.id %>/messages/<%= message.id %>"><%= message.title %></a><br>
          Review: <a href="/books/<%= @book.id %>/messages/<%= message.id %>"><%= message.review %></a><br>
        </div>  
      <% end %>  
    <% else %>
    <% end %> 
  </div>
  <div class="col-md-3">
  </div>  
</div>  
</div>
