<!DOCTYPE html>
<html>
<head>
  <title>Review</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href=""><h1>Read It?</h1></a> 
    </div> 
    <div id="navbar" class="navbar-collapse collapse">
      
        <div class="navbar-right" ng-show="currentUser">
          <span class="space-right pad-2-top">Welcome, {{currentUser}}!</span>
          <a href="" class="btn-success btn space-1-top">Sign Out</a>
        </div>  
        
        <form class= "navbar-form navbar-right">
          <div class="form-group">
            <input type="text" placeholder="Username" class="form-control">
          </div>  
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control">
          </div>  
            <input type="submit" value="Log in" class="btn-success btn">
    </div>
  </div>
</nav>
<%= yield %>
<div class="container main-back">
  <div class="main">
    
  </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>

<%= stylesheet_link_tag    params[:controller], media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag params[:controller], "data-turbolinks-track" => true %>
