<!DOCTYPE html>
<html>
<head>
  <title>Read It?</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
   <div class="navbar-header">
    <h1><a href="/books" class="homeLink">Read It?</a></h1>
       
     
   </div> 
   <div id="navbar" class="navbar-collapse collapse">
     <% if current_user %>
       <div class="navbar-form navbar-right">

         <%= link_to "Welcome, #{current_user.name}!", user_messages_path(current_user.id) %>
         <%= link_to "Sign Out", log_out_path, class: "btn btn-success" %>
       </div>  
     <% else %>   
       <%= form_tag log_in_path, class: "navbar-form navbar-right" do %>
         <div class="form-group">
           <%= text_field_tag :name, nil, placeholder: "Username", class: "form-control" %>
         </div>  
         <div class="form-group">
           <%= password_field_tag :password, nil, placeholder: "Password", class: "form-control" %>
         </div>  
           <%= submit_tag "Log in", class: "btn-success btn" %> 
           <%= link_to "Sign Up", users_path, class: "btn btn-primary" %>
       <% end %> 
     <% end %>
   </div>
</div>
</nav>
<%= yield %>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>

<%= stylesheet_link_tag    params[:controller], media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag params[:controller], "data-turbolinks-track" => true %>
